@import './app/styles/themes.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.spacer {
  flex: 1;
}

svg#clouds {
  position: fixed;
  bottom: -50%;
  left: -10%;
  z-index: -10;
}

@media screen and (max-width: 767px) {}


// Colors

.border {
  border: 1px black solid;
}

.hover {
  opacity: 0;
  transition-duration: 0.5s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: #777a6c;
}

.hover:hover {
  opacity: 0.3;
}
